# Frontend URL (untuk redirect OAuth dan CORS origin)
CLIENT_URL=http:

# Port
PORT=

# Database
MONGO_URI=

# JWT
JWT_SECRET=

# AI Service (FastAPI - Semantic Search)
AI_SERVICE_URL=

# Google Maps API Key
GOOGLE_MAPS_API_KEY=

# Google Gemini API
GEMINI_API_KEY=

# Google OAuth 2.0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=